#canvas_container {
	width: 400px; 
	height: 400px;
	margin: 20px;
}

h1.title {
	margin-top: 0px;
}

.muted-red {
	background-color: #ec7063;
}

.muted-blue {
	background-color: #415b76;
}

.green {
	background-color: #47a447;
}

.yellow {
	background-color: #f0ad4e;
}

