#canvas_container {
	width: 400px; 
	height: 400px;
	margin: 20px;
}

h1.title {
	margin-top: 0px;
}

.red {
	background-color: #e74c3c;
}

.muted-red {
	background-color: #ec7063;
}

.blue {
	background-color: #34495e;
}

.muted-blue {
	background-color: #415b76;
}

.light-blue {
	background-color: #5bc0de;
}

.green {
	background-color: #47a447;
}